@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-google-sans: "Google Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-primary: #1850f5;
  --color-primary-2: #0b1730;
  --color-primary-3: #050a14;
  --color-cinza: #2e2e2e;
  --color-cinza-2: #70808f;
  --color-cinza-3: #9ca3b0;
  --color-cinza-4: #8f94a0;
  --color-line: #e5e7eb;
}

.btn-primary {
  @apply bg-primary text-white font-inter text-center flex justify-center items-center gap-2 font-semibold min-w-37.5 text-sm py-3 rounded-lg hover:bg-primary/70 transition-all duration-300 cursor-pointer;
}

.btn-secondary {
  @apply bg-white hover:bg-gray-100 border border-line flex items-center justify-center gap-2 min-w-37.5 text-sm font-normal py-3 rounded-lg transition-all duration-300 cursor-pointer;
}

.input-primary {
  @apply w-full bg-transparent outline-none text-black placeholder:text-cinza-3 font-inter text-sm font-normal;
}
